body { margin: 0; background-color: #f4f6f9; }
.container-fluid, .content { max-width: 1440px; margin: auto; }

.card-header[data-bs-toggle="collapse"]:hover {
  background-color: #146c43 !important;
  transition: background-color 0.2s ease-in-out;
}

/* Zapewnienie poprawnego działania wyskakujących okien (Modali) */
.api-sports-modal {
    z-index: 2000 !important;
}

/* SMARTFONY - większa czytelność listy meczów */
@media (max-width: 767px) {
    #games-list api-sports-widget { 
        max-height: 70vh; 
        overflow-y: auto; 
    }
}

/* DESKTOPOWE - układ */
@media (min-width: 768px) {
  #games-list api-sports-widget { 
    max-height: calc(100vh - 150px); 
    overflow-y: auto; 
  }
}
